<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Sửa sản phảm</h6>
                <form>
                    <div class="mb-3">
                        <label for="inputProduct" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="inputProduct" aria-describedby="nameProduct">
                        <div class="my-2">
                            <span class="">Chỗ nữa báo lỗi Validate</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Hình sản phẩm</label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                        <div class="my-2">
                            <span class="">Chỗ nữa báo lỗi Validate</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPrice" class="form-label">Giá sản phẩm</label>
                        <input type="number" class="form-control" id="inputPrice" aria-describedby="price">
                        <div class="my-2">
                            <span class="">Chỗ nữa báo lỗi Validate</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputDetail" class="form-label">Mô tả</label>
                        <textarea id="summernote" placeholder="Nhập nội dung ở đây" name="mo_ta"></textarea>
                        <div class="my-2">
                            <span class="">Chỗ nữa báo lỗi Validate</span>
                        </div>
                    </div>
                    <div class="mb-3 col-3">
                        <label for="checkCategory" class="form-label">Chọn Danh mục</label>
                        <select class="form-select form-in" id="checkCategory" aria-label="Default select example">
                            <option selected>Vui lòng chọn danh mục!</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <a href="" class="btn btn-info m-2">Lưu thay đổi</a>
                    <input type="reset" class="btn btn-warning m-2" value="Nhập lại">

                    {{!-- <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button> --}}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->