<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Giỏ hàng</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active text-white">Giỏ hàng</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Hình Sản Phẩm</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số Lượng</th>
                        <th scope="col">Tổng Tiền</th>
                        <th scope="col">XÓA</th>
                    </tr>
                </thead>
                <tbody id="products-cart"></tbody>
            </table>
        </div>
        <div class="mt-5">
            <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Nhập mã khuyến mãi">
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Áp Dụng Mã</button>
        </div>
        <div class="row g-2 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Hóa Đơn <span class="fw-normal">Chi Tiết</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Tạm Tính:</h5>
                            <p class="mb-0 total-money">300.000đ</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Giảm giá (nếu có):</h5>
                            <div class="">
                                <p class="mb-0"> 0đ </p>
                            </div>
                        </div>
                        {{!-- <p class="mb-0 text-end">Shipping to Ukraine.</p> --}}
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Tổng tiền</h5>
                        <strong>
                            <p id="totalMoney" class="mb-0 pe-4 total-money fs-5">300.000đ</p>
                        </strong>
                    </div>
                    <a href="/chackout"
                        class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4">
                        Xác nhận đơn hàng
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->