<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0" style="height: auto !important;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Tìm kiếm theo từ khoá hoặc giá tiền (VND)
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Thêm mẫu sản phẩm vào modal -->
      <div class=" d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input type="search" class="form-control p-3" placeholder="Bạn cần tìm sản phẩm gì?"
            aria-describedby="search-icon-1" id="searchInput" />
          <button id="searchButton" class="btn btn-outline-secondary p-3">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div id="sampleProducts" class="mt-5 row justify-content-center">
      </div>
    </div>
  </div>
</div>