<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Quản lý đơn hàng</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên khách hàng</th>
                                <th scope="col">Số lượng sản phẩm</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Ngày đặt hàng</th>
                                <th scope="col" colspan="2">Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="ordersTableBody">
                            {{!-- <tr>
                                <th scope="row">1</th>
                                <td>Tuấn</td>
                                <td>10</td>
                                <td>330.000đ</td>
                                <td>1/1/2024</td>
                                <td class="w-3">
                                    <a href=""><i class="fa-solid fa-eye"></i></a>
                                </td>
                                <td class="w-3"> <a href=""><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Tuấn</td>
                                <td>10</td>
                                <td>330.000đ</td>
                                <td class="w-3">
                                    <a href=""><i class="fa-solid fa-eye"></i></a>
                                </td>
                                <td class="w-3"> <a href=""><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Tuấn</td>
                                <td>10</td>
                                <td>330.000đ</td>
                                <td class="w-3">
                                    <a href=""><i class="fa-solid fa-eye"></i></a>
                                </td>
                                <td class="w-3"> <a href=""><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Tuấn</td>
                                <td>10</td>
                                <td>330.000đ</td>
                                <td class="w-3">
                                    <a href=""><i class="fa-solid fa-eye"></i></a>
                                </td>
                                <td class="w-3"> <a href=""><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Tuấn</td>
                                <td>10</td>
                                <td>330.000đ</td>
                                <td class="w-3">
                                    <a href=""><i class="fa-solid fa-eye"></i></a>
                                </td>
                                <td class="w-3"> <a href=""><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr> --}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->